In [2]:
#import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#import list of schools
data = pd.read_csv("2024_destination_spreadsheet.csv")

In [4]:
#print columns
data.columns

Index(['City', 'State', 'Population', 'Percentage Sunny Days',
       'Average Temperature (F)', 'Median Home Price Sold v1',
       'Median Home Price Sold v2 ($)', 'Median Price SqFeet Listed ($)',
       'Index Cost Of Living', 'Crimes Per 100k', 'Umemployment Rate',
       'Fortune 500 HQed', 'Business Index',
       'Academic And Economic Opportunities Index', 'Health Index',
       'Quality Education Index', 'State Public School Index'],
      dtype='object')

In [5]:
#rank col from 1 to 50
for col in list(data.columns):
    #metrics where lower is good
    if col in ['Median Home Price Sold v2 ($)','Median Price SqFeet Listed ($)','Index Cost Of Living','Crimes Per 100k','Umemployment Rate','Academic And Economic Opportunities Index','Quality Education Index']:
        data[col+" Rank"] = data[col].rank(ascending = True)
    #metrics where higher is good
    if col in ['Percentage Sunny Days','Average Temperature (F)','Fortune 500 HQed','Health Index','State Public School Index','Business Index']:
        data[col+" Rank"] = data[col].rank(ascending = False)

#print(data)

In [6]:
#normalize (scaling to range) col from 0 to 100
for col in list(data.columns):
    #metrics where lower is good
    if col in ['Median Home Price Sold v2 ($)','Median Price SqFeet Listed ($)','Index Cost Of Living','Crimes Per 100k','Umemployment Rate','Academic And Economic Opportunities Index','Quality Education Index']:
        maxi = data[col].max()
        mini = data[col].min()
        data[col+" Normalized"] = 100 * (maxi-data[col]) / (maxi - mini)
    #metrics where higher is good
    if col in ['Percentage Sunny Days','Average Temperature (F)','Fortune 500 HQed','Health Index','State Public School Index','Business Index']:
        maxi = data[col].max()
        mini = data[col].min()
        data[col+" Normalized"] = 100 * (data[col]-mini) / (maxi - mini)

#print(data)

In [7]:
#normalize (Z score) col from 0 to 100
for col in list(data.columns):
    #metrics where lower is good
    if col in ['Median Home Price Sold v2 ($)','Median Price SqFeet Listed ($)','Index Cost Of Living','Crimes Per 100k','Umemployment Rate','Academic And Economic Opportunities Index','Quality Education Index']:
        mean = data[col].mean()
        std = data[col].std()
        data[col+" Z Normalized"] = -(data[col]-mean) / (std)
    #metrics where higher is good
    if col in ['Percentage Sunny Days','Average Temperature (F)','Fortune 500 HQed','Health Index','State Public School Index','Business Index']:
        mean = data[col].mean()
        std = data[col].std()
        data[col+" Z Normalized"] = (data[col]-mean) / (std)

#print(data)

In [8]:
#Logic 1 : assign same weight to each category of metric and use rankings to calculate total score

#create weight variables
#weather 
Percentage_Sunny_Days_Weight = 1/14
Average_Temperature_Weight = 1/14
#real estate
Median_Home_Price_Sold_v2_Weight = 1/14
Median_Price_SqFeet_Listed_Weight = 1/14
#cost of living
Index_Cost_Of_Living_Weight = 1/7
#safety
Crimes_Per_100k_Weight = 1/7
#labor market 
Umemployment_Rate_Weight = 1/28
Fortune_500_HQed_Weight = 1/28
Business_Index_Weight = 1/28
Academic_And_Economic_Opportunities_Index_Weight = 1/28
#health
Health_Index_Weight = 1/7
#education 
State_Public_School_Index_Weight = 1/14
Quality_Education_Index_Weight = 1/14

#create total score column assuming each column has the same weight
data['Total Score'] = Percentage_Sunny_Days_Weight * data['Percentage Sunny Days Rank'] + Average_Temperature_Weight * data['Average Temperature (F) Rank'] + Median_Home_Price_Sold_v2_Weight * data['Median Home Price Sold v2 ($) Rank'] + Median_Price_SqFeet_Listed_Weight * data['Median Price SqFeet Listed ($) Rank'] + Index_Cost_Of_Living_Weight * data['Index Cost Of Living Rank'] + Crimes_Per_100k_Weight * data['Crimes Per 100k Rank'] + Umemployment_Rate_Weight * data['Umemployment Rate Rank'] + Fortune_500_HQed_Weight * data['Fortune 500 HQed Rank'] + Health_Index_Weight * data['Health Index Rank'] + State_Public_School_Index_Weight * data['State Public School Index Rank'] + Business_Index_Weight * data['Business Index Rank'] + Academic_And_Economic_Opportunities_Index_Weight * data['Academic And Economic Opportunities Index Rank'] + Quality_Education_Index_Weight * data['Quality Education Index Rank']  


#recreate new dataset
d = {'City': data['City'], 'Total Score': data['Total Score']}
final_data = pd.DataFrame(data=d)

#print new dataset
print(final_data.sort_values(by=['Total Score']).reset_index(drop=True))

                          City  Total Score
0        Jacksonville, Florida    18.071429
1               El Paso, Texas    18.589286
2     Virginia Beach, Virginia    19.625000
3                Austin, Texas    19.660714
4            Las Vegas, Nevada    20.196429
5             Atlanta, Georgia    21.285714
6               Miami, Florida    21.410714
7      Raleigh, North Carolina    22.053571
8            Fort Worth, Texas    22.339286
9             Phoenix, Arizona    22.410714
10              Houston, Texas    22.482143
11          San Antonio, Texas    22.589286
12       San Diego, California    22.660714
13             Omaha, Nebraska    22.946429
14   Charlotte, North Carolina    23.714286
15            Denver, Colorado    24.000000
16         Arlington, Virginia    24.107143
17     Los Angeles, California    24.160714
18               Mesa, Arizona    24.303571
19               Dallas, Texas    24.571429
20        San Jose, California    24.607143
21      Sacramento, California    24.732143
22  Colorado Springs, Colorado    24.767857
23  Philadelphia, Pennsylvania    24.910714
24       Indianapolis, Indiana    25.160714
25      Minneapolis, Minnesota    25.196429
26     Oklahoma City, Oklahoma    25.375000
27              Washington, DC    25.464286
28     New York City, New York    25.714286
29       Boston, Massachusetts    26.017857
30            Aurora, Colorado    26.482143
31              Columbus, Ohio    26.767857
32           Chicago, Illinois    26.857143
33             Tucson, Arizona    27.125000
34        Milwaukee, Wisconsin    27.803571
35             Tulsa, Oklahoma    27.875000
36          Memphis, Tennessee    28.017857
37             Wichita, Kansas    28.160714
38       Kansas City, Missouri    28.196429
39      Long Beach, California    28.303571
40          Fresno, California    28.553571
41         Seattle, Washington    28.678571
42         Baltimore, Maryland    28.696429
43     Albuquerque, New Mexico    28.982143
44   San Francisco, California    29.785714
45        Nashville, Tennessee    30.660714
46            Portland, Oregon    32.000000
47         Oakland, California    32.321429
48           Detroit, Michigan    32.910714
49     Bakersfield, California    33.696429

In [9]:
#Logic 2 : assign same weight to each category of metric and use noramalization (scaling to range) to calculate total score

#create weight variables
#weather 
Percentage_Sunny_Days_Weight = 1/14
Average_Temperature_Weight = 1/14
#real estate
Median_Home_Price_Sold_v2_Weight = 1/14
Median_Price_SqFeet_Listed_Weight = 1/14
#cost of living
Index_Cost_Of_Living_Weight = 1/7
#safety
Crimes_Per_100k_Weight = 1/7
#labor market 
Umemployment_Rate_Weight = 1/28
Fortune_500_HQed_Weight = 1/28
Business_Index_Weight = 1/28
Academic_And_Economic_Opportunities_Index_Weight = 1/28
#health
Health_Index_Weight = 1/7
#education 
State_Public_School_Index_Weight = 1/14
Quality_Education_Index_Weight = 1/14

#create total score column assuming each column has the same weight
data['Total Score'] = Percentage_Sunny_Days_Weight * data['Percentage Sunny Days Normalized'] + Average_Temperature_Weight * data['Average Temperature (F) Normalized'] + Median_Home_Price_Sold_v2_Weight * data['Median Home Price Sold v2 ($) Normalized'] + Median_Price_SqFeet_Listed_Weight * data['Median Price SqFeet Listed ($) Normalized'] + Index_Cost_Of_Living_Weight * data['Index Cost Of Living Normalized'] + Crimes_Per_100k_Weight * data['Crimes Per 100k Normalized'] + Umemployment_Rate_Weight * data['Umemployment Rate Normalized'] + Fortune_500_HQed_Weight * data['Fortune 500 HQed Normalized'] + Health_Index_Weight * data['Health Index Normalized'] + State_Public_School_Index_Weight * data['State Public School Index Normalized'] + Business_Index_Weight * data['Business Index Normalized'] + Academic_And_Economic_Opportunities_Index_Weight * data['Academic And Economic Opportunities Index Normalized'] + Quality_Education_Index_Weight * data['Quality Education Index Normalized']  


#recreate new dataset
d = {'City': data['City'], 'Total Score': data['Total Score']}
final_data = pd.DataFrame(data=d)

#print new dataset
print(final_data.sort_values(by=['Total Score'],ascending=False).reset_index(drop=True))

                          City  Total Score
0            Las Vegas, Nevada    67.712358
1     Virginia Beach, Virginia    66.616592
2                Austin, Texas    66.499418
3        Jacksonville, Florida    65.500374
4               El Paso, Texas    65.411842
5               Miami, Florida    65.109108
6             Phoenix, Arizona    65.041917
7                Mesa, Arizona    64.803165
8      Raleigh, North Carolina    64.086222
9             Atlanta, Georgia    63.913987
10      Sacramento, California    62.631292
11       San Diego, California    62.264646
12              Houston, Texas    61.776874
13           Fort Worth, Texas    60.755613
14   Charlotte, North Carolina    60.389757
15               Dallas, Texas    59.301857
16  Colorado Springs, Colorado    59.163688
17     Los Angeles, California    58.904739
18          San Antonio, Texas    58.788882
19            Denver, Colorado    58.684806
20             Omaha, Nebraska    58.607155
21             Tucson, Arizona    57.393161
22              Washington, DC    57.191953
23     Oklahoma City, Oklahoma    56.748885
24       Boston, Massachusetts    56.275067
25           Chicago, Illinois    56.105770
26          Fresno, California    55.904595
27  Philadelphia, Pennsylvania    55.768435
28            Aurora, Colorado    55.156318
29         Arlington, Virginia    55.098959
30     New York City, New York    54.878954
31        San Jose, California    54.352502
32      Minneapolis, Minnesota    53.994429
33        Nashville, Tennessee    52.273152
34         Seattle, Washington    52.228302
35       Indianapolis, Indiana    52.053020
36              Columbus, Ohio    52.051317
37            Portland, Oregon    50.259929
38         Baltimore, Maryland    49.941889
39             Tulsa, Oklahoma    49.778580
40       Kansas City, Missouri    49.349667
41        Milwaukee, Wisconsin    49.311325
42      Long Beach, California    49.266034
43     Albuquerque, New Mexico    49.163144
44             Wichita, Kansas    47.236900
45         Oakland, California    47.185900
46     Bakersfield, California    44.500341
47   San Francisco, California    44.253352
48          Memphis, Tennessee    43.399740
49           Detroit, Michigan    39.067166

In [10]:
#Logic 3 : assign same weight to each category of metric and use noramalization (Z score) to calculate total score

#create weight variables
#weather 
Percentage_Sunny_Days_Weight = 1/14
Average_Temperature_Weight = 1/14
#real estate
Median_Home_Price_Sold_v2_Weight = 1/14
Median_Price_SqFeet_Listed_Weight = 1/14
#cost of living
Index_Cost_Of_Living_Weight = 1/7
#safety
Crimes_Per_100k_Weight = 1/7
#labor market 
Umemployment_Rate_Weight = 1/28
Fortune_500_HQed_Weight = 1/28
Business_Index_Weight = 1/28
Academic_And_Economic_Opportunities_Index_Weight = 1/28
#health
Health_Index_Weight = 1/7
#education 
State_Public_School_Index_Weight = 1/14
Quality_Education_Index_Weight = 1/14

#create total score column assuming each column has the same weight
data['Total Score'] = Percentage_Sunny_Days_Weight * data['Percentage Sunny Days Z Normalized'] + Average_Temperature_Weight * data['Average Temperature (F) Z Normalized'] + Median_Home_Price_Sold_v2_Weight * data['Median Home Price Sold v2 ($) Z Normalized'] + Median_Price_SqFeet_Listed_Weight * data['Median Price SqFeet Listed ($) Z Normalized'] + Index_Cost_Of_Living_Weight * data['Index Cost Of Living Z Normalized'] + Crimes_Per_100k_Weight * data['Crimes Per 100k Z Normalized'] + Umemployment_Rate_Weight * data['Umemployment Rate Z Normalized'] + Fortune_500_HQed_Weight * data['Fortune 500 HQed Z Normalized'] + Health_Index_Weight * data['Health Index Z Normalized'] + State_Public_School_Index_Weight * data['State Public School Index Z Normalized'] + Business_Index_Weight * data['Business Index Z Normalized'] + Academic_And_Economic_Opportunities_Index_Weight * data['Academic And Economic Opportunities Index Z Normalized'] + Quality_Education_Index_Weight * data['Quality Education Index Z Normalized']  


#recreate new dataset
d = {'City': data['City'], 'Total Score': data['Total Score']}
final_data = pd.DataFrame(data=d)

#print new dataset
print(final_data.sort_values(by=['Total Score'],ascending=False).reset_index(drop=True))

                          City  Total Score
0     Virginia Beach, Virginia     0.463534
1            Las Vegas, Nevada     0.437820
2        Jacksonville, Florida     0.426988
3                Austin, Texas     0.417953
4               El Paso, Texas     0.390436
5               Miami, Florida     0.366993
6      Raleigh, North Carolina     0.339814
7             Atlanta, Georgia     0.330415
8             Phoenix, Arizona     0.322932
9                Mesa, Arizona     0.296413
10              Houston, Texas     0.257565
11      Sacramento, California     0.235616
12           Fort Worth, Texas     0.203207
13       San Diego, California     0.194475
14   Charlotte, North Carolina     0.182256
15             Omaha, Nebraska     0.153052
16               Dallas, Texas     0.147032
17            Denver, Colorado     0.136755
18  Colorado Springs, Colorado     0.127190
19          San Antonio, Texas     0.114734
20     Los Angeles, California     0.073721
21       Boston, Massachusetts     0.052387
22           Chicago, Illinois     0.034573
23  Philadelphia, Pennsylvania     0.023288
24              Washington, DC     0.020918
25     Oklahoma City, Oklahoma     0.012300
26             Tucson, Arizona    -0.003216
27     New York City, New York    -0.015522
28            Aurora, Colorado    -0.017176
29      Minneapolis, Minnesota    -0.019497
30         Arlington, Virginia    -0.031260
31          Fresno, California    -0.048051
32       Indianapolis, Indiana    -0.110603
33              Columbus, Ohio    -0.121021
34        San Jose, California    -0.143826
35        Nashville, Tennessee    -0.156419
36         Seattle, Washington    -0.176318
37         Baltimore, Maryland    -0.194234
38        Milwaukee, Wisconsin    -0.207046
39       Kansas City, Missouri    -0.245577
40             Tulsa, Oklahoma    -0.258260
41            Portland, Oregon    -0.260062
42             Wichita, Kansas    -0.332150
43     Albuquerque, New Mexico    -0.357923
44      Long Beach, California    -0.364618
45         Oakland, California    -0.445080
46     Bakersfield, California    -0.502851
47          Memphis, Tennessee    -0.505098
48   San Francisco, California    -0.559277
49           Detroit, Michigan    -0.687283